.task {
    display: flex;
    flex-direction: row;
    background-color: var(--gray-500);
    color: var(--gray-100);
    font-weight: 400;
    align-items: flex-start;
    padding: 1rem;
    border: 2px solid var(--gray-400);
    border-radius: 8px;
}

.task+.task {
    margin-top: 0.75rem;
}

.task .content {
    flex: 1;
    padding-left: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.4;
}

.task button {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 0;
}

.task .btnCheck {
    width: 1.3rem;
    min-width: 1.3rem;
    height: 1.3rem;
    border: 2px solid var(--blue);
    cursor: pointer;
    border-radius: 50%;
    color: var(--gray-100);
}

.task .btnCheck svg{
    transition: opacity var(--transition-time);
}

.task .btnCheck .checkIcon{
    visibility: hidden;
    opacity: 0;
}

.btnCheck:hover{
    border: 2px solid var(--blue-dark);
}

.checked .btnCheck{
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
    color: var(--gray-100);
}

.checked .checkIcon{
    visibility: visible !important;
    opacity: 1 !important;
}

.checked .btnCheck:hover{
    background-color: var(--purple) !important;
    border: 2px solid var(--purple);
}

.checked .content{
    text-decoration: line-through;
    color: var(--gray-300) !important;
}

.task .btnDelete {
    color: var(--gray-300);
    padding: 0.2rem;
    border-radius: 8px;
    cursor: pointer;
}

.task .btnDelete:hover{
    color: var(--danger);
    background-color: var(--gray-400);
}